//Mixins

//botones




//navar 



mixin navegacion()
  .header__menu-lista.header__menu-oculto
    ul
      li
        a(href='' + links[0],class='item-nav-1')=title__navar[0]
      li
        a(href='' + links[1],class='item-nav-2')=title__navar[1]
      li
        a(href='' + links[2],class='item-nav-3')=title__navar[2]
      li
        a(href='' + links[3],class='item-nav-4')=title__navar[3]


mixin lista-reutilizable(link,icon)
  li 
    a(href='' + link target='_blank')
      span(class="" + icon)

// contenido header

mixin headerContenido()
  h1=nombres 
  p diseñador web fronted
  ul
    +lista-reutilizable('https://github.com/yersonandrew','bx bxl-github')
    +lista-reutilizable('https://www.instagram.com/yersonet/','bx bxl-instagram')
    +lista-reutilizable('https://www.facebook.com/ridersoft.tecnology/','bx bxl-facebook-circle')
    +lista-reutilizable('https://www.linkedin.com/in/rider-soft-5b33a2234/','bx bxl-linkedin')


mixin footerContenido()
  h2=nombres 
  p diseñador web fronted
  ul
    +lista-reutilizable('https://github.com/yersonandrew','bx bxl-github')
    +lista-reutilizable('https://www.instagram.com/yersonet/','bx bxl-instagram')
    +lista-reutilizable('https://www.facebook.com/ridersoft.tecnology/','bx bxl-facebook-circle')
    +lista-reutilizable('https://www.linkedin.com/in/rider-soft-5b33a2234/','bx bxl-linkedin')




// titulo separador

mixin titulo-separador(tituloUno,tituloDos)
  .titulo-separador
    h2=tituloUno
    h2 Y 
    h2=tituloDos



// cards

// iconos imagenes

mixin icono-imagenes(icon)
  li 
    img(src='' + icon)
//card-uno
mixin card-uno(imagenUno,title,text,link,tg,btnModo,btn)
  .proyectos__card 
    .proyectos__img 
      img(src='' + imagenUno)
    .proyectos__descripcion 
      h3=title
      p=text
      span tecnologias aplicadas:
      ul
        +icono-imagenes(imagenesIcon[1])
        +icono-imagenes(imagenesIcon[5])
        +icono-imagenes(imagenesIcon[3])
        +icono-imagenes(imagenesIcon[4])
        +icono-imagenes(imagenesIcon[2])
      .proyectos__btn-primario
        a(href='' + link, target='' + tg, class='' + btnModo)=btn



// ventana modal


mixin ventanaModal()
  .modal
    .modal__contenido
      .modal__botones
        span
          i(class='bx bx-x')
        span 
          i(class='bx bxs-download')
      





//card dos


mixin caja-dos(img,title,academia,instructor,text,ruta,nombreArchivo)
  .conocimiento__item
    .conocimiento__img 
      img(src="" + img, alt="Captura del proyecto realizado", srcset="")
    .conocimiento__descripcion
      h3=title
      .conocimiento__bootcamp 
        span academia
        p=academia
        span instructor
        p=instructor
      .conocimiento__calificacion
        span(class='bx bxs-star')
        span(class='bx bxs-star')
        span(class='bx bxs-star')
        span(class='bx bxs-star-half')
        span(class='bx bx-star')
        //bx bxs-star-half estrella mitad
        //bx bx-star estrella vacia
        //bx bxs-star estrella vacia
      p=text
      .conocimiento__btn-primario.btn-primario
        a(href='' + ruta, download='' + nombreArchivo)
          span certificado
          i(class='bx bxs-download')


//STACKS TECNOLOGICAS

mixin stacks(img,title,nivel,text)
  .stacks__item
    .stacks__img 
      img(src="" + img, alt="Logo de la tecnologia web", srcset="")
    h3=title 
    span=nivel 
    p=text


// formulario




mixin formulario(label,nameLabel,type,id,placeholder,name)
  label(for='' + label)=nameLabel 
  .formulario__inputs
    input(type='' + type, id='' + id, placeholder='' + placeholder class='inputs', name='' + name)